:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.6rem;
  color: #34355b;
  height: 100vh;

  background: linear-gradient(45deg, #190361 0%, #b0f 100%);

  display: grid;
  place-items: center;

  main {
    max-width: 42.8rem;
    width: 100%;

    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.8);

    text-align: center;

    padding: 4.8rem 6.4rem 6.4rem;

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 1.8rem;
    }

    p,
    button {
      font-family: 'DM Sans', sans-serif;
      font-size: 1.5rem;
    }

    img {
      margin: 2.8rem 0;
    }

    .screen-one {
      button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          animation: shake 0.1s infinite;
        }
      }
    }

    .screen-two {
      .box-lucky {
        background: #e4edf1;
        box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.5);
        padding: 1rem;
        animation: upToDown 0.8s;

        p {
          font-family: 'Dancing Script', cursive;
          font-size: 2.4rem;
          color: #000;
        }
      }
      button {
        border: none;
        border-radius: 4px;
        background: #ff9500;

        color: #fff;

        padding: 1.6rem;

        cursor: pointer;

        transition: transform 0.2s ease-in;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.hide {
  display: none;
}

@keyframes shake {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 7px;
  }
  50% {
    margin-left: 0;
  }
  75% {
    margin-left: -7px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes upToDown {
  0% {
    transform: translateY(340px);
    visibility: 0;
    scale: 0;
  }
  100% {
    transform: translateY(0);
    visibility: 1;
    scale: 1;
  }
}
